@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.content{
	background-image: linear-gradient(
		var(--blanco) 25%, 
		var(--azul-verde)
	);
}
.description{
	background-image: linear-gradient(
		var(--azul-verde) 2%,
		var(--violeta) 5%
	);
}
.footer{
	background-image: linear-gradient(
		
		var(--violeta) 2%,
		var(--azul-verde) 5%
	);
}

.con_niveles{
	transition: 2s ease;
	width: 100%;
	height: 100%;
	position: fixed;
	top: -50px;
	transform: translateY(100%);
	z-index: 100;
}
.con_niveles__block{
	background-image: linear-gradient(white 5%, var(--violeta));
	z-index: 80;
	height: 102vh;
	overflow-y: auto;
	/*transform: translateY(0%);*/
	scrollbar-width: thin;          /* "auto" or "thin" */
 	scrollbar-color: white transparent;
}
.con_niveles__block::-webkit-scrollbar {
    -webkit-appearance: none;
}

.con_niveles__block::-webkit-scrollbar:vertical {
    width:10px;
}

.con_niveles__block::-webkit-scrollbar-button:increment,.con_niveles__block::-webkit-scrollbar-button {
    display: none;
} 

.con_niveles__block::-webkit-scrollbar:horizontal {
    height: 5px;
}

.con_niveles__block::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
}

.con_niveles__block::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.con_niveles__svg{
	background-color: white;
	border-radius: 50%;
	padding: 15px 15px 15px 15px;
	margin-top: 0px;
}

.con_niveles__abrir{
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	background-color: white;
	position: relative;
	transition: 3s;
}
.svg{
	position: absolute;
	top: -40px;
	background-color: white;
	cursor: pointer;
	padding: 20px;
	border-radius: 50%;
	transition: 3s;
}

.block__titulo__h2{
	margin-top: 50px;
	text-align: center;
	font-size: 2.5em;
	font-weight: normal;
}
.block__levels{
	width: 80%;
	margin: 0px auto 40px auto;
	display: flex;
	flex-direction: row;
	max-height: 300px;
	overflow-x: auto;
	overflow-y: hidden;	
}
.level__a{
	display: block;
	text-decoration: none;
}

.level{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: auto;
	width: 200px;
	margin: 0px 30px;
	padding: 25px 20px;
	border-radius: 5px;
	background-color: ;
}
.level__titulo{
	text-align: center;
	font-size: 1.1em;
	font-weight: normal;
	color: black;
}
.level__img{
	display: block;
	width:100%;
}
.level__true{
	background-image: linear-gradient(transparent 15%, var(--azul-verde) );
}
.level__cofres{
	background-image: linear-gradient(transparent 15%, var(--orange) );
}
.level__false{
	height: 60px;
	background-color: var(--gris-obscuro);
	color: white;
	margin: auto;
}
.level__false .level__titulo{
	color: white;
}
.level__button{
	cursor: pointer;
	border: none;
	background-color: white;
	margin-top: 15px;
	font-size: .6em;
	font-family: cursive;
	border-radius: 25px;
	padding: 5px 30px;
	margin: 15px auto 0px auto; 
}
.level__button:hover{
	transition: .3s;
	background-color: var(--amarillo);
	color: white;
}
.form{
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
}
.form__input__text{
	border-radius: 20px;
	border:  0px;
	height: 25px;
	text-align: center;
}
.content{
	min-height: 100vh;
	position: relative;
	display: flex;	
	justify-content: center;
	z-index: 50;
}
.content__block{
	width: 40%;
	margin-top: 5vh;
}
.content__titulo{
	margin: 40px 0 10px 0;
}


.description{
	height: auto;
	/*min-height: 80vh;*/
	width: 100%;
	background-color: transparent;
	color: white;
	padding: 40px 0 40px 0;
	z-index: 60;
	display: flex;
}
.description__izquierda{
	height: 100%;
	width: 40%;
	margin: auto;
	font-size: 20px;
}
.description__h1{
	font-size: 3em;
	font-weight: normal;
}

.description__derecha{
	width: 40%;
}
.description__block{
	margin: auto;
}

.footer{
	font-size: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: transparent;
	padding: 10px 20px 50px 20px;
}
.footer__block{
	color: black;
	min-width: 20%;
	margin: auto;
}
.footer__media{
	width: 30%;
	text-align: center;
}
.footer__aviso{
	width: 40%;
	text-align: center;
}
.footer__legal{
	width: 25%;
}
.footer__subtitulo{
	text-align: center;
	font-size: 1.2em;
	text-shadow: 0px 0px 5px white;
}
.block__ul{
	 list-style-type: none;
}
.block__ul__li a{
	color: white;
	text-decoration: none;
}
.level__a{
	display: inline;
	text-align: none;
}
.footer__icon{
	margin-top: 5px;
	font-size: 1.3em;
	color: white;
	background-color: red;
	text-align: center;
	width: 30px;
	height: 30px;
	padding: 5px;
	border-radius: 50%;
	transition: .5s;
	background-color: var(--violeta);
}
.footer__icon:hover{
	background-color: var(--amarillo);
	color: white;
}

.scoll_back{
	transition: 3s;
}
@media (max-width:1008px){
	.content__block{
		width: 80%;
	}
	.description{
		flex-direction: column;
		font-size: 20px;
	}
	.description__block{
		width: 80%;
		height: auto;
	}
	.description__p{
		font-size: 16px;
	}
	.footer{
		font-size: 18px;
	}

	.footer__block{
		min-width: 100%;
		margin-bottom: 30px;
	}
	.level__true{
		margin: 30px;
	}
}
@media (max-width:768px){

	.content__block{
		width: 70%;
	}
	.description{
		flex-direction: column;
		font-size: 20px;
	}
	.description__block{
		width: 70%;
		height: auto;
	}
	.description__p{
		font-size: 13px;
	}
	.footer{
		font-size: 18px;
	}

	.footer__block{
		min-width: 100%;
		margin-bottom: 30px;
	}
	.level__true{
		margin: 30px;
	}
}
@media (max-width:500px){
	.description{
		flex-direction: column;
		font-size: 16px;
	}
	.description__block{
		width: 90%;
		height: auto;
	}
	.description__p{
		font-size: 13px;
	}
	.footer{
		font-size: 18px;
	}
	.footer__block{
		min-width: 100%;
		margin-bottom: 30px;
	}
	.content__block{
		width: 60%;
	}
	.level__true{
		margin: 30px;
	}
}
