:root{
	--gris: #b6cacd;
	--azul-verde: #4FCFC4;
	--blanco: #E8F3F1;
	--violeta: #936C82;
	--amarillo:  #CFC44F;
}

.cont-audio{
	width: auto;
	height: 60px;	
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 30px; 
	left: 50px;
	z-index:1000;
}
.icon-music{
	background-color: var(--violeta);
	color: white;
	width: 50px;
	height: 50px;	
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	cursor: pointer;
	margin: 10px;
}
.ico{
	display: block;
}
@media (max-width:1008px){
	body{
		font-size: 14px;
	}
	.audio{
		top: 25px; 
		left: 45px;
	}
	.icon-music{
		width: 35px;
		height: 35px;
	}
}
@media (max-width:768px){
	body{
		font-size: 12px;
	}
	.audio{
		top: 15px; 
		left: 35px;
	}
	.icon-music{
		width: 40px;
		height: 40px;
	}
}
@media (max-width:500px){
	.audio{
		top: 20px; 
		left: 0px;
	}
	.icon-music{
		width: 30px;
		height: 30px;
	}
	body{
		font-size: 10px;
	}
}